html {
    /* background-color: pink; */
    /* background: rgb(68,60,201); */
    background: linear-gradient(90deg, rgba(68,60,201,1) 0%, rgba(16,219,121,1) 50%, rgba(0,212,255,1) 100%);
}
  
h1 {
    background-color: beige;
}

#welcome-section h1 {
    text-align: center;
    margin-top: 60px;
    font-size: 2rem;
}

#welcome-section {
    background-image: url(images/selfPortrait.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 75vh;
}
  
body {
    background-color: beige;
    width: 50%;
    margin: 0 auto;
}
  
#navbar {
    position: fixed;
    top: 0px;
    font-size: 1.5rem;
    background-color: maroon;
}

.navbar-item {
    margin-right: 0.5rem;
    color: white;
}

#selfPortrait {
    height: 250px;
    width: 250px;
}

a {
    text-decoration: none;
    color: black;
}

#projects {
    margin-bottom: 2rem;
}

h2, .project-tile {
    text-align: center;
}

#projects a {
    display: block;
}

#external-links {
    display: flex;
    justify-content: center;
}

i {
    margin: 0.2rem;
}